# ========================
# Environment Variables
# ========================
.env
*.env
*/.env

# ========================
# Python
# ========================
venv/
*/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Node
# ========================
node_modules/
*/node_modules/

# ========================
# Uploads & Runtime Files
# ========================
uploads/
*/uploads/

# ========================
# ML Data & Models
# ========================
dataset/
*/dataset/
*.h5
*.pt
*.pth

# ========================
# OS / Misc
# ========================
.DS_Store
Thumbs.db