@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0% { transform: translateY(0); }
  100% { transform: translateY(220px); }
}

.animate-scan {
  animation: scan 2s linear infinite;
}
/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}
